:root {
  --mainColor: #eaeaea;
  --secondaryColor: #fff;
  --borderColor: #c1c1c1;
  --mainText: black;
  --secondaryText: #4b5156;
  --themeDotBorder: #24292e;
  --previewBg: rgb(255, 249, 243, 0.8);
  --previewShadow: rgb(235, 220, 137);
  --btnColor: black;
}
html,
body {
  padding: 0;
  margin: 0;
}
body * {
  transition: 0.3;
}
h1,
h2,
h3,
h3,
h4,
h5,
strong {
  color: var(--mainText);
  font-family: "Russo One", sans-serif;
}
p,
li,
span,
label,
input,
textarea {
  color: var(--secondaryText);
  font-family: "Roboto Mono", monospace;
}
h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}
a {
  text-decoration: none;
  color: lightblue;
}
ul {
  list-style: none;
}
.s1 {
  background-color: var(--mainColor);
  border-bottom: var(--borderColor);
}
.s2 {
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}
.main-container {
  width: 1200px;
  margin: 0 auto;
}
.greeting-wrapper {
  display: grid;
  justify-content: center;
  align-content: center;
  /* border: 1px dashed lightcoral; */
  min-height: 10em;
}
.intro-wrapper {
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px 5px 0 0;
  box-shadow: 105px 55px 86px 15px rgba(233, 125, 89, 0.75);
  -webkit-box-shadow: 105px 55px 86px 15px rgba(233, 125, 89, 0.75);
  -moz-box-shadow: 105px 55px 86px 15px rgba(233, 125, 89, 0.75);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3em 20em;
  grid-template-areas:
    "nav-wrapper nav-wrapper"
    "left-column right-column";
}
.nav-wrapper {
  border-radius: 5px 5px 0 0;
  /* identify the grid area where to be created  */
  grid-area: nav-wrapper;
  border: 1px solid var(--borderColor);
  display: flex;
  /* align horizontally */
  justify-content: space-between;
  /* align vertcally */
  align-items: center;
  background-color: var(--mainColor);
}
.nav-wrapper a {
  color: var(--mainText);
}
#navigation {
  margin: 0;
  padding: 10px;
}
#navigation li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}
.dots-wrapper {
  display: flex;
  padding: 10px;
}
#dot-1 {
  background-color: red;
}
#dot-2 {
  background-color: green;
}
#dot-3 {
  background-color: yellow;
}
.browser-dot {
  background-color: black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 5px;
}
.left-column {
  grid-area: left-column;
  display: grid;
  padding-top: 50px;
  padding-bottom: 50px;
  align-content: center;
  justify-self: center;
}
#profile-pic {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 2px solid var(--mainColor);
}
#theme-options-waraper {
  display: flex;
  justify-content: center;
}
.theme-dot {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: black;
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin: 5px;
  border: 2px solid var(--themeDotBorder);
}
.theme-dot :hover {
  border-width: 5px;
}
#light-mode {
  background-color: #fff;
}
#blue-mode {
  background-color: #192734;
}
#green-mode {
  background-color: #78866b;
}
#purple-mode {
  background-color: #7e4c74;
}
#setting-note {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}
.right-column {
  grid-area: right-column;
  display: grid;
  align-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
#preview-shadow {
  background-color: var(--previewShadow);
  width: 300px;
  height: 180px;
  padding-left: 30px;
  padding-top: 30px;
}
#preview {
  width: 300px;
  border: 1.5px solid #17a2b8;
  background-color: var(--previewBg);
  padding: 15px;
  position: relative;
}
.corner {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1.5px solid #17a2b8;
  background-color: #fff;
  position: absolute;
}
#corner-topLeft {
  top: -5px;
  left: -5px;
}
#corner-topRight {
  top: -5px;
  right: -5px;
}
#corner-bottomRight {
  bottom: -5px;
  right: -5px;
}
#corner-bottomLeft {
  bottom: -5px;
  left: -5px;
}
.about-wrapper {
  display: grid;
  /* this is short cut for making it resposive it will automatically make two colums with 1fr and other with not lesthan 320px  */
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 100px;
}
#skills {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--previewShadow);
}
.social-links {
  display: grid;
  align-content: center;
  text-align: center;
}
#social_img {
  width: 100%;
}
.post-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 20px;
  justify-content: center;
}
.thumbnail {
  display: block;
  width: 100%;
  height: 100px;
  object-fit: cover;
}
.post {
  border: 1px solid var(--borderColor);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}
.post-preview {
  background-color: #fff;
  padding: 15px;
}
.post-title {
  color: black;
  margin: 0;
}
.post-intro {
  color: #4b5156;
  font-size: 14px;
}
#submit-btn {
  margin-top: 10px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  background-color: var(--btnColor);
  border: none;
}
#contact-form {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  border: 1 px solid var(--borderColor);
  padding: 15px;
  border-radius: 5px;
  background-color: var(--mainColor);
  margin-bottom: 50px;
}
.input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--secondaryColor);
  border-radius: 5px;
  border: 1px solid var(--borderColor);
  font-size: 14px;
}
#contact-form label {
  /* gives spave from the input field */
  line-height: 2.7em;
}
#contact-form textarea {
  /* gives spave from the input field */
  min-height: 100px;
  font-size: 14px;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
}
@media screen and (max-width: 800px) {
  .intro-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav-wrapper "
      "left-column"
      "right-column";
  }
  .right-column {
    justify-content: center;
  }
}
